:root {
  --header-color: #000000;
  --background-color: #FFFFFF;
  --font-color: #DBDBDB;
  --section-color: #E2002D;
  --section-hover: #a70122;
  --footer-color: #000000;
  --button-color: #D3D3D3;
  --button-hover: #A9A9AA;
  --white: #ffffff;
  --finance-bg: #D4D2D4;
}