* {
  box-sizing: border-box;
  padding: none;
  margin: none;
}

:root {
  --header-color: #000000;
  --background-color: #FFFFFF;
  --font-color: #DBDBDB;
  --section-color: #E2002D;
  --footer-color: #000000;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  background-color: var(--background-color);
}

.app-container{
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  
  .header {
    background-color: var(--header-color);
    color: var(--font-color);
    padding: 30px;
    text-align: center;
    font-size: 2rem;
  }
  
  .main-content {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 20px;
  
    nav {
      background-color: var(--section-color);
      color: var(--font-color);
  
      .category-list {
        width: fit-content;
        padding: 10px;

        &:hover{
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
  
  .footer {
    background-color: var(--footer-color);
    color: var(--font-color);
    padding: 10px;
  }
}
