@import 'colors';

* {
  box-sizing: border-box;
  padding: none;
  margin: none;
  text-decoration: none;
}

body {
  font-family: 'Inter', sans-serif;
  height: 100vh;
  max-width: 100vw;
  background-color: var(--background-color);
  overflow: hidden;
}

.app-container {
  display: grid;
  grid-template-rows: 6.5rem 3fr auto;
  height: 100vh;

  .header {
    background-color: var(--header-color);
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 10fr 1fr;
    justify-items: center;
    align-items: center;

    .icon{
      font-size: 2rem;
      &:hover{
        cursor: pointer;
      }
    }
  }

  .main-content {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 20px;

    nav {
      background-color: var(--section-color);
      padding: 20px 0;

      .category-list {
        padding: 0;

        li {
          a{
            color: var(--white);
          }
          font-style: none;
          padding: 10px 20px;
          margin: 5px;

          &:hover {
            cursor: pointer;
            background-color: var(--section-hover);
            border-radius: 10px;
          }
        }
      }
    }

    main {
      display: grid;
      grid-template-rows: 70px auto;
      overflow-y: auto;
      padding-top: 10px;

      .products {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));

        @import 'productDetail';
      }
    }
  }

  .footer {
    background-color: var(--footer-color);
    color: var(--font-color);
    padding: 10px;
    display: grid;
    grid-template-columns: auto 1fr;

    .footer-links{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
      align-items: center;

      a{
        color: var(--font-color);
        font-size: 1.2rem;
      }

      .home-link{
        display: grid;
        justify-items: end;
      }
    }
  }
}