.search-container{
  display: flex;
  justify-content: center;

  label{
    display: flex;
    align-items: center;
    color: white;
  }

  input{
    display: flex;
    align-items: center;
    margin-left: 10px;
    height: 23px;
    margin-top: 5px;
  }
}